{% block form_row %}
    {% spaceless %}
        <div class="form_row">

            {{ form_label(form) }} {% if form.vars.required %} * {% endif %}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            {{ form_help(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}